:root{
    --60: white;
    --60_5: rgba(255, 255, 255, 0.5);
    --30: #1d1d1d;
    --30_5: rgba(29, 29, 29, 0.5);
    --10: red;
    --10_5: rgba(255, 0, 0, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;;
    color: var(--30);
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
}

h6{
    color: var(--60);
}

hr{
    background-color: var(--10_5);
    width: 30%;
    height: 0.2rem;
}

button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: var(--30);
    color: var(--60);
    padding: 15px 30px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.3s ease;
}

button:hover{
    background-color: var(--10_5);
}

/*NAVIGATION*/
.navbar{
    font-size: 16px;
    color: black;
    box-shadow: 0px 10px 15px var(--30_5);
}

.navStyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navUser{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: var(--10_5);
}

.nav-link{
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

/*HOME*/
#home{
    background-image: url(Imagens/pexels-jae-park-3770875.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span{
    color: var(--10_5);
}

/*BRAND*/
#brand img{
    width: 200px;
    height: 150px;
}

/*NEWCAR*/
#newCar .one img{
    width: 100%;
    height: 100%;
    position: relative;
}

#newCar .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: ease 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}

#newCar .one .details h2{
    color: var(--60);
    background-color: rgba(0, 0, 0, 0.60);
}

#newCar .one .details button{
    font-size: 14px;
    font-weight: 500;
    background: none;
    border-bottom: 2px solid var(--60_5);
    border-radius: 0px;
    padding: 0px 5px;
}

#newCar .one .details:hover button{
    padding: 0px 20px;
}

#newCar .one:hover .details{
    cursor: pointer;
    background-color: var(--30_5);
}

/*FEATURED*/
#featured .product{
    text-align: center;
}

#featured .product img{
    border-radius: 20px;
}

#featured .product h5{
    padding-top: 15px;
    font-size:1.5rem;
    font-weight: bold;
    color: var(--30_5);
}

#featured .product h4{
    font-size:1.4rem;
    font-weight: bold;
    color: var(--30);
}

#featured .product .btn-buy{
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s ease;
}

#featured .product:hover .btn-buy{
    transform: translateY(0px);
    opacity: 1;
}

/*FOOTER*/
footer{
    padding-bottom: 20px;
    background-color: var(--30);
}

.footer-col{
    margin-top: 30px;
    width: 25%;
    padding: 0 50px; 
}
.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin:20px 0;
    font-weight: 700;
    position: relative;
    color: var(--60);
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--60);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a {
    margin: 10px 0;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--30);
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
    color: var(--60_5);
} 
.footer-col ul li a:hover{
color: var(--10_5);
padding-left: 5px ;
}

.footer-col .social-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-col .social-links a {
    height: 40px;
    width: 40px;
    background-color: var(--60_5);
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: var(--30);
    transition: all 0.3s ease;

}
.footer-col .social-links a:hover{
 background-color: var(--10_5);   
}
